*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.1;
  color: var(--primary-text-color, #fff);
  background-color: var(--bg-color, #000);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

ul,
li {
  list-style: none;
}

.section {
  padding: 20px 0;
}

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 744px) {
    max-width: 744px;
    padding: 0 80px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 150px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
